services:
    static_media:
      build: .
      container_name: lucos_static_media
      ports: 
        - $PORT:80
      volumes:
        - "public:/usr/local/apache2/htdocs/"
      image: lucas42/lucos_static_media
      restart: always

volumes:
  public:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=aurora.local,rw,nolock,hard,nointr,nfsvers=3"
      device: ":/medlib/public"